{{! template-lint-disable no-inline-styles }}

<DocsDemo as |demo|>
  <demo.example @name='attention-getter.hbs'>
    {{#let 'sounds/attention.wav' as |url|}}
      <button
        type='button'
        {{on 'click' (play-sound url)}}
        class='inline-grid grid-flow-col gap-1 place-items-center'
      >
        {{#if (sound-is-playing url)}}
          <span>{{svg-jar 'pause-outline' height=16 width=16}}</span>
        {{else}}
          <span>{{svg-jar 'play-outline' width=16 height=16}}</span>
        {{/if}}
        Really, it's easy
      </button>
    {{/let}}
  </demo.example>
  {{demo.snippet 'attention-getter.hbs'}}
</DocsDemo>