{{! template-lint-disable no-inline-styles }}

<DocsDemo as |demo|>
  <demo.example @name='service-errors-wild-west.hbs'>
    <p>This is what happens when you don't catch the error (open your console)</p>
    <div>
      <button
        {{on
          'click'
          (fn this.togglePlaySound 'https://invalid.example.url/4.mp3')
        }}
        type='button'
        class='ui-button'
      >
        {{#if this.sound.isPlaying}}
          Pause
        {{else}}
          Play Sound
        {{/if}}
      </button>
    </div>

    {{#if this.error}}
      <div class='text-danger text-sm px-1 py-2'>{{this.error}}</div>
    {{/if}}
  </demo.example>
  {{demo.snippet 'service-errors-wild-west.js'}}
  {{demo.snippet 'service-errors-wild-west.hbs'}}
</DocsDemo>