{{! BEGIN-SNIPPET stereo-player.hbs }}
<div class='stereo-player'>
  <div class='stereo-player-main'>
    <div class='stereo-player-controls'>
      <button
        {{on 'click' (rewind-sound @identifier increment=5000)}}
        disabled={{not (sound-is-rewindable @identifier)}}
        type='button'
        class='stereo-button'
      >
        {{svg-jar
          'skip-backward-outline'
          height=20
          width=30
          title='Skip Backward'
        }}
      </button>

      <button
        {{on 'click' (toggle-play-sound @identifier)}}
        type='button'
        class='stereo-button'
      >
        {{#if (sound-is-playing @identifier)}}
          {{svg-jar 'pause-outline' height=20 width=30 title='Pause'}}
        {{else if (sound-is-loading @identifier)}}
          {{svg-jar
            'loading-outline'
            height=20
            width=30
            title='Loading'
            class='animate-spin'
          }}
        {{else if (sound-is-loaded @identifier)}}
          {{svg-jar 'resume-outline' height=20 width=30 title='Pause'}}
        {{else}}
          {{svg-jar 'play-outline' height=20 width=30 title='Play'}}
        {{/if}}
      </button>

      <button
        {{on 'click' (fastforward-sound @identifier increment=5000)}}
        disabled={{not (sound-is-fastforwardable @identifier)}}
        type='button'
        class='stereo-button'
      >
        {{svg-jar
          'skip-forward-outline'
          height=20
          width=30
          title='Skip Forward'
        }}
      </button>
    </div>

    <div class='stereo-player-position'>
      {{sound-position @identifier format='time'}}
      {{#if (sound-is-seekable @identifier)}}
        <Input
          type='range'
          class='flex-auto flex-shrink w-16 lg:w-1/6'
          {{on 'change' (seek-sound @identifier)}}
          @value={{sound-position @identifier format='percentage'}}
          disabled={{not (sound-is-seekable @identifier)}}
        />
      {{else}}
        <div
          class='{{if
              (sound-is-playing @identifier)
              'from-accent-0 to-accent-2 bg-gradient-to-r animate-gradient-x animated'
              'bg-on-surface-3'
            }}
            w-full h-2 rounded-md inset-1 shadow-inset'
        >
        </div>
      {{/if}}
      {{sound-duration @identifier format='time'}}
    </div>

    {{! BEGIN-SNIPPET stereo-volume-control.hbs }}
    <div class='stereo-player-volume'>
      <Input
        {{stereo-volume}}
        type='range'
        class='flex-auto flex-shrink w-16 lg:w-1/6'
      />
      <button type='button' {{on 'click' (toggle-stereo-mute)}}>
        {{#if (gt (stereo-volume) 0)}}
          {{svg-jar 'volume-low-outline' height=20 width=30}}
        {{else}}
          {{svg-jar 'volume-mute-outline' height=20 width=30}}
        {{/if}}
      </button>
    </div>
    {{! END-SNIPPET }}
  </div>

  {{#if (sound-is-errored @identifier)}}
    <div class='stereo-player-errors'>
      {{sound-error-details @identifier}}
    </div>
  {{/if}}
</div>
{{! END-SNIPPET }}