<DocsDemo as |demo|>
  <demo.example @name='try-multiple-urls.hbs'>
    <div>
      {{#let
        (array
          'https://archive.org/download/KmartOctober1989/Kmart%20October%201989.ogg'
          'https://archive.org/download/KmartOctober1989/Kmart%20October%201989.mp3'
        )
        as |urls|
      }}
        <button
          {{on 'click' (toggle-play-sound urls)}}
          type='button'
          class='ui-button'
        >
          {{#if (sound-is-playing urls)}}
            Pause
          {{else if (sound-is-loading urls)}}
            Loading…
          {{else}}
            Play Sound
          {{/if}}
        </button>

        {{#if (sound-is-errored urls)}}
          <div class='px-1 py-2 text-sm text-danger'>{{sound-error-details
              urls
            }}</div>
        {{/if}}

        <div class='mt-2 text-sm'>
          {{#let (find-sound urls) as |sound|}}
            {{#if sound}}
              This was successfully loaded using the
              <em>{{sound.connectionName}}</em>
              connection. The
              <em>{{sound.mimeType}}</em>
              format was the one that ended up working in
              <Docs::CurrentBrowser />. Try this in
              <Docs::OtherBrowser />
              to compare.
            {{/if}}
          {{/let}}
        </div>

      {{/let}}
    </div>
  </demo.example>
  <demo.snippet
    @name='try-multiple-urls.hbs'
    @label='using just template helpers'
  />
  <demo.snippet
    @name='try-multiple-urls-via-service.js'
    @label="if you're a service type guy"
  />
</DocsDemo>
{{!--
<DocsDemo as |demo|>
  <demo.example @name='try-multiple-urls-via-service.hbs'>
    <p>Trying multiple urls with the service</p>
    <div>
      <button
        {{on 'click' (perform this.playTask)}}
        type='button'
        class='ui-button'
      >
        {{#if this.sound.isPlaying}}
          Pause
        {{else if this.playTask.isRunning}}
          Loading…
        {{else}}
          Play Sound
        {{/if}}
      </button>
    </div>

    {{#if this.error}}
      <div class='px-1 py-2 text-sm text-danger'>{{this.error}}</div>
    {{/if}}
  </demo.example>
  {{demo.snippet 'try-multiple-urls-via-service.js'}}
  {{demo.snippet 'try-multiple-urls-via-service.hbs'}}
</DocsDemo> --}}