<div class="sound-container" data-title="Sound Loader">
  <div class="sound test-sound">
    <span class="test-sound-title-url">
      {{input type="text" class="input" placeholder="title" value=title}}
    </span>
    <span class="test-sound-title">
      {{input type="text" class="input" placeholder="url" value=url}}
    </span>

    <div class="test-sound-actions">
      <button href="#" class="button is-medium is-outline is-dark {{if loadCustomSound.isRunning "is-loading"}}" {{action (perform loadCustomSound)}}>Load</button>
      <button href="#" class="button is-medium is-info {{if playCustomSound.isRunning "is-loading"}}" {{action (perform playCustomSound)}}>Play</button>
    </div>
    <div class="errors">
      {{error}}
    </div>
  </div>

  {{#animated-container}}
    {{#animated-each dormantItems use=transition duration=250 as |item|}}
      {{test-sound item=item}}
    {{/animated-each}}
  {{/animated-container}}
</div>