<div class="sound sound-display sound-is-loaded
  {{~if this.isCurrentSound ' is-current-sound '~}}
  {{~if this.isPlaying ' sound-is-playing '~}}
  {{~if this.showDebugInfo ' show-debug-info '~}}"
  data-connection-name="{{this.loadedSound.connectionName}}"
>
  <div class="sound-display-top-bar">
    <div class="sound-display-top-bar-actions">
      <button type="button" class="sound-display-top-bar-remove-sound is-small" {{on 'click' this.removeSound}}>
        {{fa-icon "times-circle"}}
      </button>
    </div>

    <span class="sound-display-top-bar-connection-name">
      {{#let this.loadedSound as |sound|}}
        {{#if sound}}
          {{#if sound.connectionName}}
            {{sound.connectionName}} Sound
          {{/if}}
          {{#if sound.mimeType}}
            ({{sound.mimeType}})
          {{/if}}
        {{else}}
          Not Loaded
        {{/if}}
      {{/let}}
    </span>

    {{#if this.isCurrentSound}}
      <span class="sound-display-top-bar-current">Current Sound</span>
    {{/if}}
  </div>

  <div class="sound-display-title">
    <div class="sound-display-title-given">
      {{sound-metadata this.url key='title'}}
    </div>
    <div class="sound-display-title-url">
      {{this.url}}
    </div>
  </div>

  <div class="sound-display-controls">
    <SoundDisplay::Position @sound={{@sound}} />

    <div class="sound-control-buttons">
      {{#if (sound-is-rewindable this.url)}}
      <button type="button" class="sound-control-button-item" {{on 'click' (fn (rewind-sound this.url increment=15000))}}>
        {{svg-jar "skip-backward-outline" class="stereo-icon" height="24" width="24"}}
      </button>
      {{/if}}

      {{#if (not (or (sound-is-loaded this.url) (sound-is-loading this.url)))}}
        <button type="button" class="sound-control-button-item" {{on 'click' (load-sound this.url)}}>
          {{svg-jar "load" class="stereo-icon" height="48" width="48"}}
        </button>
      {{/if}}

      <button type="button" class="sound-control-button-item" {{on 'click' (toggle-play-sound this.url)}}>
        {{#if (sound-is-loading this.url)}}
          {{svg-jar "loading-outline" class="stereo-icon icon-spin" height="48" width="48"}}
        {{else if (sound-is-playing this.url)}}
          {{svg-jar "pause-outline" class="stereo-icon" height="48" width="48"}}
        {{else}}
          {{svg-jar "play-outline" class="stereo-icon" height="48" width="48"}}
        {{/if}}
      </button>

      {{#if (sound-is-fastforwardable this.url)}}
      <button type="button" class="sound-control-button-item" {{on 'click' (fastforward-sound this.url
        increment=15000)}}>
        {{svg-jar "skip-forward-outline" class="stereo-icon" height="24" width="24"}}
      </button>
      {{/if}}

      {{#if (sound-is-loaded this.url)}}
      <button type="button" class="sound-control-button-item" {{on 'click' (stop-sound this.url)}}>
        {{svg-jar "stop-outline" class="stereo-icon" height="24" width="24"}}
      </button>
      {{/if}}
    </div>
  </div>

  <div class="diagnostic-debug">
    <h3>Connection</h3>
    <StrategyBreakdown @url={{this.url}}/>

    <h3>Properties</h3>
    <SoundProperties @url={{this.url}}/>

    <h3>Events</h3>
    {{#if this.loadedSound}}
      <EventDisplay class="diagnostic-debug-events" @sound={{this.loadedSound}} />
    {{/if}}
  </div>

  <button type="button" class="diagnostic-debug-toggle" {{on 'click' (toggle "showDebugInfo" this)}}>
    {{#if this.showDebugInfo}}
    <span>Hide Debug</span>
    {{fa-icon "angle-up"}}
    {{else}}
    <span>Show Debug</span>
    {{fa-icon "angle-down"}}
    {{/if}}
  </button>

  {{yield}}

</div>
