<div class="sound sound-display sound-is-loaded
  {{~if this.isCurrentSound ' is-current-sound '~}}
  {{~if this.isPlaying ' sound-is-playing '~}}
  {{~if this.showDebugInfo ' show-debug-info '~}}"
  data-connection-name="{{@sound.connectionName}}"
>
  <div class="sound-display-top-bar">
    <div class="sound-display-top-bar-actions">
      <button type="button" class="sound-display-top-bar-remove-sound is-small" {{on 'click' this.removeSound}}>
        {{fa-icon "times-circle"}}
      </button>
    </div>

    <span class="sound-display-top-bar-connection-name">
      {{#if @sound.connectionName}}
      {{@sound.connectionName}} Sound
      {{#if @sound.mimeType}}
      ({{@sound.mimeType}})
      {{/if}}
      {{else}}
      URL
      {{/if}}
    </span>

    {{#if this.isCurrentSound}}
    <span class="sound-display-top-bar-current">Current Sound</span>
    {{/if}}
  </div>

  <div class="sound-display-title">
    <div class="sound-display-title-given">
      {{sound-metadata @sound.url key='title'}}
    </div>
    <div class="sound-display-title-url">
      {{@sound.url}}
    </div>
  </div>

  <div class="sound-display-controls">
    <SoundDisplay::Position @sound={{@sound}} />

    <div class="sound-control-buttons">
      <a href="#" class="sound-control-button-item"></a>

      {{#if (sound-is-rewindable @sound.url)}}
      <button type="button" class="sound-control-button-item" {{on 'click' (fn (rewind-sound this.url increment=5000))}}>
        {{svg-jar "skip-backward-outline" class="stereo-icon" height="24" width="24"}}
      </button>
      {{/if}}

      <button type="button" class="sound-control-button-item" {{on 'click' (toggle-play-sound @sound.url)}}>
        {{#if (sound-is-loading @sound.url)}}
          {{svg-jar "loading-outline" class="stereo-icon icon-spin" height="48" width="48"}}
        {{else if (sound-is-playing @sound.url)}}
          {{svg-jar "pause-outline" class="stereo-icon" height="48" width="48"}}
        {{else}}
          {{svg-jar "play-outline" class="stereo-icon" height="48" width="48"}}
        {{/if}}
      </button>

      {{#if (sound-is-fastforwardable @sound.url)}}
      <button type="button" class="sound-control-button-item" {{on 'click' (fastforward-sound @sound.url
        increment=5000)}}>
        {{svg-jar "skip-forward-outline" class="stereo-icon" height="24" width="24"}}
      </button>
      {{/if}}

      <button type="button" class="sound-control-button-item" {{on 'click' (stop-sound @sound.url)}}>
        {{svg-jar "stop-outline" class="stereo-icon" height="24" width="24"}}
      </button>
    </div>
  </div>


  <div class="diagnostic-debug">
    <h3>Strategy</h3>

    <ul class="diagnostic-debug-strategy">
      {{#each @sound.metadata.debug.results as |item|}}
      {{#if item.didPlay}}
      <li class="is-success">
        {{fa-icon "check-square"}} {{item.connectionName}} succeeded
      </li>
      {{else if (and item.canPlay (not item.triedToPlay))}}
      <li class="not-attempted">
        {{fa-icon "square"}} {{item.connectionName}} was not attemped
      </li>
      {{else if (and item.canPlay item.triedToPlay)}}
      <li class="is-failure">
        {{fa-icon "skull"}} {{item.connectionName}} attempted and failed
      </li>
      {{else if (not item.canPlay)}}
      <li class="is-ineligible">
        {{fa-icon "times"}} {{item.connectionName}} ineligible, not attempted
      </li>
      {{/if}}
      {{/each}}
    </ul>

    <h3>Properties</h3>
    <dl class="diagnostic-debug-list">
      <dt>Id</dt>
      <dd>{{@sound.debugName}}</dd>

      <dt>isLoading</dt>
      <dd>{{@sound.isLoading}}</dd>

      <dt>isPlaying</dt>
      <dd>{{@sound.isPlaying}}</dd>

      <dt>isErrored</dt>
      <dd>{{@sound.isErrored}}</dd>

      <dt>hasPlayed</dt>
      <dd>{{@sound.hasPlayed}}</dd>

      <dt>duration</dt>
      <dd>{{@sound.duration}}</dd>

      <dt>position</dt>
      <dd>{{@sound.position}}</dd>

      <dt>isStream</dt>
      <dd>{{@sound.isStream}}</dd>

      <dt>isRewindable</dt>
      <dd>{{@sound.isRewindable}}</dd>

      <dt>isFastForwardable</dt>
      <dd>{{@sound.isFastForwardable}}</dd>

      <dt>percentLoaded</dt>
      <dd>{{@sound.percentLoaded}}</dd>

      <dt>metadata</dt>
      <dd>{{json-stringify @sound.metadata}}</dd>

      <dt>id3TagMetadata</dt>
      <dd>{{json-stringify @sound.id3TagMetadata}}</dd>
    </dl>


    <h3>Events</h3>
    {{#if (sound-is-loaded @sound.url)}}
      <EventDisplay class="diagnostic-debug-events" @sound={{@sound}} />
    {{/if}}
  </div>

  <button type="button" class="diagnostic-debug-toggle" {{on 'click' (toggle "showDebugInfo" this)}}>
    {{#if this.showDebugInfo}}
    <span>Hide Debug</span>
    {{fa-icon "angle-up"}}
    {{else}}
    <span>Show Debug</span>
    {{fa-icon "angle-down"}}
    {{/if}}
  </button>

  {{yield}}

</div>
