{{!-- BEGIN-SNIPPET stereo-player.hbs --}}

<div class="stereo-player">
  <button type="button" {{on 'click' (fastforward-sound @url increment=5000)}} disabled={{not (sound-is-rewindable @url)}}
    class="stereo-button">
    {{svg-jar "skip-backward-outline" height=20 width=30 title="Skip Forward"}}
  </button>

  <button type="button" {{on 'click' (toggle-play-sound @url)}} class="stereo-button">
    {{#if (sound-is-playing @url)}}
    {{svg-jar "pause-outline" height=20 width=30 title="Pause"}}
    {{else if (sound-is-loaded @url)}}
    {{svg-jar "resume-outline" height=20 width=30 title="Pause"}}
    {{else if (sound-is-loading @url)}}
    {{svg-jar "loading-outline" height=20 width=30 title="Loading" class="icon-spin"}}
    {{else}}
    {{svg-jar "play-outline" height=20 width=30 title="Play"}}
    {{/if}}
  </button>

  <button type="button" {{on 'click' (fastforward-sound @url increment=5000)}} disabled={{not (sound-is-fastforwardable
    @url)}} class="stereo-button">
    {{svg-jar "skip-forward-outline" height=20 width=30 title="Skip Forward"}}
  </button>

  <div class="demo-sound-position">
    {{sound-position @url format='time'}}
    <Input type="range" @value={{sound-position @url format='percentage' }} {{on 'change' (seek-sound @url)}} disabled={{not
      (sound-is-seekable @url)}} />
    {{sound-duration @url format='time'}}
  </div>

  {{sound-error-details @url}}
</div>

{{!-- END-SNIPPET --}}