{{! template-lint-disable }}
<div class="progress {{if durationIsInfinity "is-indeterminate" ""}} {{if sound.isPlaying "is-playing" ""}}">
  <div class="progress-track js-progress-track">
    <div class="progress-track-downloaded" style={{downloadPercentageStyle}}></div>
    <div class="progress-track-played" style="width: {{hifi-position sound.url format='percent'}}%"></div>
  </div>
  {{#if sound}}
    {{component "sound-display/position/play-head" positionStyle=playHeadPositionStyle duration=duration
      onPan=(action "updatePlayheadPosition")
      onPanEnd=(action "updatePosition")}}
  {{/if}}
</div>
<div class="sound-display-control-position-info">
  <span class="sound-display-control-position-info-positon">
    {{#if sound}}
      {{hifi-position sound.url format='time'}}
    {{else}}
      &nbsp;
    {{/if}}
  </span>
  <span class="sound-display-control-position-info-duration">
    {{#if sound}}
      {{hifi-duration sound.url format='time'}}
    {{else}}
      &nbsp;
    {{/if}}
  </span>
</div>
