{{! template-lint-disable }}
<div class="progress {{if durationIsInfinity "is-indeterminate" ""}} {{if sound.isPlaying "is-playing" ""}}">
  <div class="progress-track js-progress-track">
    <div class="progress-track-downloaded" style={{downloadPercentageStyle}}></div>
    <div class="progress-track-played" style={{playedPercentageStyle}}></div>
  </div>
  {{#if sound}}
    {{component "sound-display/position/play-head" positionStyle=playHeadPositionStyle duration=duration
      onPan=(action "updatePlayheadPosition")
      onPanEnd=(action "updatePosition")}}
  {{/if}}
</div>
<div class="sound-display-control-position-info">
  <span class="sound-display-control-position-info-positon">
    {{#if sound}}
      {{numeric-duration sound.position}}
    {{else}}
      &nbsp;
    {{/if}}
  </span>
  <span class="sound-display-control-position-info-duration">
    {{#if sound}}
      {{#if durationIsInfinity}}
        {{fa-icon "infinity"}}
      {{else}}
        {{numeric-duration sound.duration}}
      {{/if}}
    {{else}}
      &nbsp;
    {{/if}}
  </span>
</div>
