<div class="sound-display-control-position service-display-current-sound-position" {{did-insert this.didInsert}} {{recognize-gesture 'tap'}} {{on 'tap' this.handleTap}}>
  <div class="progress {{if (not (or (sound-is-fastforwardable @sound.url) (sound-is-rewindable @sound.url))) " is-indeterminate" "" }} {{if @sound.isPlaying "sound-is-playing" "" }}">
    <div class="progress-track js-progress-track">
      <div class="progress-track-downloaded"></div>
      <div class="progress-track-played"
          style={{html-safe (
            concat "width: " (sound-position @sound.url format='percent') "%"
          )}}></div>
    </div>
    {{#if @sound}}
      <div class="progress-track-playhead"
        {{recognize-gesture 'pan'}}
        {{on 'pan' this.updatePlayheadPosition}}
        {{on 'panend' this.updatePosition}}
        style={{html-safe (
          concat "left: calc(" (sound-position @sound.url format='percent') "% + " this.dragAdjustment "px)"
        )}}
      >
      </div>
    {{/if}}
  </div>
  <div class="sound-display-control-position-info">
    <span class="sound-display-control-position-info-positon">
      {{#if @sound}}
        {{sound-position @sound.url format='time'}}
      {{else}}
      &nbsp;
      {{/if}}
    </span>
    <span class="sound-display-control-position-info-duration">
      {{#if @sound}}
        {{sound-duration @sound.url format='time'}}
      {{else}}
       &nbsp;
      {{/if}}
    </span>
  </div>

</div>
