<div class="sound test-sound">
  <span class="test-sound-title">
    {{@title}}
  </span>
  <span class="test-sound-title-url">
    {{@url}}
  </span>

  <div class="test-sound-actions">
    <button class="button is-small is-outline {{if this.loadSound.isRunning "is-loading"}}" {{on 'click' (perform this.loadSound @url)}}>Load</button>

    <button class="button is-small is-outline" {{hifi-control @url}}>Play</button>
    <button class="button is-small is-outline" {{hifi-control this.loadUrl}}>Play via P</button>
  </div>
</div>
{{yield}}
