<div class="sound test-sound">
  <span class="test-sound-title">
    {{title}}
  </span>
  <span class="test-sound-title-url">
    {{url}}
  </span>

  <div class="test-sound-actions">
    <a href="#" class="button is-small is-outline {{if loadSound.isRunning "is-loading"}}" {{action (perform loadSound url)}}>Load</a>
    <a href="#" class="button is-small is-outline {{if playSound.isRunning "is-loading"}}" {{action (perform playSound url)}}>Play</a>
  </div>
</div>
{{yield}}
