<div class="sound test-sound" >
  <h3 class="test-sound-title">{{@title}}</h3>
  <span class="test-sound-title-url">
     {{@url}}
  </span>
  <span>{{sound-error-details @url}}</span>

  <div class="actions">
    {{#if (sound-is-loaded @url)}}
    <button type="button" class="button is-link" disabled>Loaded</button>
    {{else if (sound-is-loading @url)}}
    <button type="button" class="button is-link" disabled>Loading</button>
    {{else}}
    <button type="button" class="button is-link" {{on 'click'
      (load-sound @url metadata=(hash title=@title))}}>
      Load
    </button>
    {{/if}}

    {{#if (sound-is-playing @url)}}
      <button type="button" class="button is-link" {{on 'click' (pause-sound @url)}}>Pause</button>
    {{else}}
      <button type="button" class="button is-link" {{on 'click' (play-sound @url)}}>Play</button>
    {{/if}}

    {{#if (sound-is-playing this.loadUrl)}}
    <button type="button" class="button is-link" {{on 'click' (pause-sound this.loadUrl)}}>Pause</button>
    {{else}}
    <button type="button" class="button is-link" {{on 'click' (play-sound this.loadUrl metadata=(hash title=@title))}}>Play via Promise</button>
    {{/if}}



    {{!-- <PlayButton @url={{@url}} @metadata={{hash title = @title}}></PlayButton> --}}

  </div>
</div>
{{yield}}
