<DocsDemo as |demo|>
  <demo.example @name="service-errors-try-then.hbs">
    <p>Using a try/then/catch on the promise</p>
    <div style="display: flex; justify-content: space-between;">
      <button {{on 'click' (fn this.togglePlaySound "https://invalid.example.url/1.mp3" )}} type="button" class="ui-button">
        {{#if this.sound.isPlaying}}
        Pause
        {{else}}
        Play Sound
        {{/if}}
      </button>
    </div>

    {{#if this.error}}
    <div style="color: red;">{{this.error}}</div>
    {{/if}}
  </demo.example>
  {{demo.snippet "service-errors-try-then.js"}}
  {{demo.snippet "service-errors-try-then.hbs"}}
</DocsDemo>