<div class="service-display {{if this.showDebugInfo 'show-debug-info'}}">
  <div class="service-display-sound-and-controls">
    <div class="service-display-current-sound">
      <p class="service-display-current-sound-title">
        {{this.currentSound.metadata.title}}
      </p>
      <p class="service-display-current-sound-url">
        {{this.currentSound.url}}
      </p>
      {{#if this.currentSound}}
      <SoundDisplay::Position @sound={{this.currentSound}} @class="service-display-current-sound-position">
      </SoundDisplay::Position>
      {{/if}}
    </div>

    <div class="service-display-controls">
      <div class="service-display-buttons">
        <button class="service-display-button-item" type="button" {{on "click" (fn (rewind-sound))}} disabled={{not (sound-is-fastforwardable)}}>
          {{svg-jar "skip-backward-outline" class="stereo-icon" height="48" width="48"}}
        </button>

        <button type="button" class="service-display-button-item" {{on "click" (fn (toggle-play-sound))}}>
          {{#if (sound-is-playing)}}
            {{svg-jar "pause-outline" class="stereo-icon" height="48" width="48"}}
          {{else if (sound-is-loading)}}
            {{svg-jar "loading-outline" class="stereo-icon icon-spin" height="48" width="48"}}
          {{else}}
            {{svg-jar "play-outline" class="stereo-icon" height="48" width="48"}}
          {{/if}}
        </button>

        <button type="button" class="service-display-button-item" {{on "click" (fn (fastforward-sound))}} disabled={{not (sound-is-fastforwardable)}}>
          {{svg-jar "skip-forward-outline" class="stereo-icon" height="48" width="48"}}
        </button>

        <button type="button" class="service-display-button-item" {{on "click" (fn (stop-sound))}}>
          {{svg-jar "stop-outline" class="stereo-icon" height="48" width="48"}}
        </button>
      </div>
      <div class="service-display-volume">
        <SoundDisplay::Volume/>
        <Input @type="range" @value={{this.stereo.volume}} min={{0}} max={{100}}/>
      </div>

    </div>
  </div>
  <div class="diagnostic-debug">
    <h3>Events</h3>
    <EventDisplay @service={{this.stereo}} />
  </div>
  <button type="button" class="diagnostic-debug-toggle" {{on 'click' (toggle "showDebugInfo" this)}}>
    {{#if this.showDebugInfo}}
      <span>Hide Debug</span>
      {{fa-icon "angle-up"}}
    {{else}}
      <span>Show Debug</span>
      {{fa-icon "angle-down"}}
    {{/if}}
  </button>
</div>
