<button class="play-sound-button" type="button" {{on 'click' (toggle-play-sound @url metadata=@metadata)}}>
  <div class="play-sound-button-bg"></div>
  {{#if (sound-is-errored @url)}}
    <FaIcon @icon="bomb" @size="2x"/>
  {{else if (sound-is-playing @url)}}
    <FaIcon @icon="pause" @size="2x"/>
  {{!-- {{else if (sound-is-playing-elsewhere @url)}}
    <FaIcon @icon="pause" @size="2x"/> --}}
  {{else if (sound-is-loading @url)}}
    <FaIcon @icon="circle-notch" @size="2x" class="icon-spin"/>
  {{else}}
    <FaIcon @icon="play" @size="2x"/>
  {{/if}}
</button>
