<button class="hifi-play-button" {{hifi-control @url}}>
  <div class="hifi-play-button-bg"></div>
  {{#if (is-errored @url)}}
    <FaIcon @icon="bomb" @size="2x"/>
  {{else if (is-playing @url)}}
    <FaIcon @icon="pause" @size="2x"/>
  {{else if (is-playing-elsewhere @url)}}
    <FaIcon @icon="pause" @size="2x"/>
  {{else if (is-loading @url)}}
    <FaIcon @icon="circle-notch" @size="2x" class="icon-spin"/>
  {{else}}
    <FaIcon @icon="play" @size="2x"/>
  {{/if}}

</button>

{{hifi-error-details @url}}

{{!--  --}}