{{#if @loadWasAttempted}}
  {{#if @item.success}}
    <div class="connection-info is-success">
      <span class="connection-name"><FaIcon @icon="check-square"/> {{@item.connectionName}}</span>
      <span class="connection-message">succeeded</span>
    </div>
  {{else if (and @item.canPlay (not @item.tried))}}
    <div class="connection-info not-attempted">
      <span class="connection-name"><FaIcon @icon="square"/> {{@item.connectionName}}</span>
      <span class="connection-message">was not attemped</span>
    </div>
  {{else if (and @item.canPlay @item.tried)}}
    <div class="connection-info is-failure">
      <span class="connection-name"><FaIcon @icon="skull"/> {{@item.connectionName}}</span>
      <span class="connection-message">{{or @item.error 'attempted and failed'}} </span>
    </div>
  {{else if (not @item.canPlay)}}
    <div class="connection-info is-ineligible">
      <span class="connection-name"><FaIcon @icon="times"/> {{@item.connectionName}}</span>
      <span class="connection-message">ineligible, not
        attempted</span>
    </div>
  {{/if}}
  {{else}}
  {{#if @item.canPlay}}
    <div class="connection-info not-attempted">
      <span class="connection-name"><FaIcon @icon="square"/> {{@item.connectionName}}</span>
      <span class="connection-message">is eligible, will attempt</span>
    </div>
  {{else if (not @item.canPlay)}}
    <div class="connection-info is-ineligible">
      <span class="connection-name"><FaIcon @icon="times"/> {{@item.connectionName}}</span>
      <span class="connection-message">is ineligible, will not
        attempt</span>
    </div>
  {{/if}}
{{/if}}