{{#if @loadWasAttempted}}
  {{#if @item.success}}
  {{!-- <li class="connection is-success"> --}}
    <div class="connection-info is-success">
      <span class="connection-name">{{fa-icon "check-square"}} {{@item.connectionName}}</span>
      <span class="connection-message">succeeded</span>
    </div>
  {{!-- </li> --}}
  {{else if (and @item.canPlay (not @item.tried))}}
  {{!-- <li class="connection not-attempted"> --}}
    <div class="connection-info not-attempted">
      <span class="connection-name">{{fa-icon "square"}} {{@item.connectionName}}</span>
      <span class="connection-message">was not attemped</span>
    </div>
  {{!-- </li> --}}
  {{else if (and @item.canPlay @item.tried)}}
  {{!-- <li class="connection is-failure"> --}}
    <div class="connection-info is-failure">
      <span class="connection-name">{{fa-icon "skull"}} {{@item.connectionName}}</span>
      <span class="connection-message">attempted and failed</span>
    </div>
  {{!-- </li> --}}
  {{else if (not @item.canPlay)}}
  {{!-- <li class="connection is-ineligible"> --}}
    <div class="connection-info is-ineligible">
      <span class="connection-name">{{fa-icon "times"}} {{@item.connectionName}}</span>
      <span class="connection-message">ineligible, not
        attempted</span>
    </div>
  {{!-- </li> --}}
  {{/if}}
  {{else}}
  {{#if @item.canPlay}}
  <li class="connection not-attempted">
    <div class="connection-info">
      <span class="connection-name">{{fa-icon "square"}} {{@item.connectionName}}</span>
      <span class="connection-message">is eligible, will attempt</span>
    </div>
  </li>
  {{else if (not @item.canPlay)}}
  <li class="connection is-ineligible">
    <div class="connection-info">
      <span class="connection-name">{{fa-icon "times"}} {{@item.connectionName}}</span>
      <span class="connection-message">is ineligible, will not
        attempt</span>
    </div>
  </li>
  {{/if}}
{{/if}}