<DocsDemo as |demo|>
  <demo.example @name="hifi-helpers.hbs">
    {{#let "https://audio.wnyc.org/otm/otm04212017pod.mp3" as |url|}}
      <button {{hifi-control url}}>
        {{#if (is-playing url)}}
          Pause
        {{else if (is-loading url)}}
          Loading
        {{else}}
          Play
        {{/if}}
      </button>
    {{/let}}
  </demo.example>
  {{demo.snippet "hifi-helpers.hbs"}}
</DocsDemo>

<DocsDemo as |demo|>
  <demo.example @name="hifi-control-decorator.hbs">
    {{#let "https://audio.wnyc.org/bl/bl011421dpod.mp3" as |url|}}
      <button {{hifi-control url}}>
        {{#if (is-playing url)}}
          Pause
        {{else if (is-loading url)}}
          Loading
        {{else}}
          Play
        {{/if}}
      </button>
    {{/let}}
  </demo.example>
  {{demo.snippet "hifi-control-decorator.hbs"}}
</DocsDemo>

<DocsDemo as |demo|>
  <demo.example @name="hifi-play-decorator-promise.hbs">
      <button {{hifi-control (perform this.loadAudioUrl this)}}>
        {{!-- {{#if (hifi-is-playing this.loadAudio)}} --}}
          {{!-- Pause --}}
        {{!-- {{else if (hifi-is-loading this.loadAudio)}} --}}
          {{!-- Loading --}}
        {{!-- {{else}} --}}
          Play
        {{!-- {{/if}} --}}
      </button>
  </demo.example>
  {{demo.snippet "hifi-play-decorator-promise.hbs"}}
  {{demo.snippet "hifi-play-decorator-promise.js"}}
</DocsDemo>