

The following examples all use the following URL <a href={{this.onDemandUrl}}>{{this.onDemandUrl}}</a>

<DocsDemo as |demo|>
  <demo.example @name="stereo-helpers.hbs">
    <button type="button" {{on 'click' (toggle-play-sound this.onDemandUrl)}}>
      {{#if (sound-is-playing this.onDemandUrl)}}
        Pause
      {{else if (sound-is-loading this.onDemandUrl)}}
        Loading
      {{else}}
        Play
      {{/if}}
    </button>

    {{stereo-error-details this.onDemandUrl}}

    <button type="button" {{on 'click' (load-sound this.onDemandUrl)}}>
      {{#if (sound-is-loaded this.onDemandUrl)}}
        Loaded
      {{else if (sound-is-loading this.onDemandUrl)}}
        Loaded
      {{else}}
        Load
      {{/if}}
    </button>
  </demo.example>
  {{demo.snippet "stereo-helpers.hbs"}}
  {{demo.snippet "application-controller.js"}}
</DocsDemo>




Different browsers support different audio formats, so stereo lets you try multiple urls, playing the first one that succeeds.


<DocsDemo as |demo|>
  <demo.example @name="stereo-helpers-multiple-sounds.hbs">
    {{#let (array
      this.onDemandOgg
      this.onDemandUrl
    ) as |urls| }}


    <button type="button" {{on 'click' (toggle-play-sound urls)}}>
      {{#if (sound-is-playing urls)}}
        Pause
      {{else if (sound-is-loading urls)}}
        Loading
      {{else}}
        Play
      {{/if}}
    </button>

    {{stereo-error-details urls}}

    <button type="button" {{on 'click' (load-sound urls)}}>
      {{#if (sound-is-loaded urls)}}
        Loaded
      {{else if (sound-is-loading urls)}}
        Loaded
      {{else}}
        Load
      {{/if}}
    </button>
    {{/let}}
  </demo.example>
  {{demo.snippet "stereo-helpers-multiple-sounds.hbs"}}
  {{demo.snippet "application-controller.js"}}
</DocsDemo>

<DocsDemo as |demo|>
  <demo.example @name="stereo-helpers-stream.hbs">
    <button type="button" {{on 'click' (toggle-play-sound this.streamUrl preload=true metadata=(hash title='Streaming Audio'))}}>
      {{#if (sound-is-playing this.streamUrl)}}
        Pause
      {{else if (sound-is-loading this.streamUrl)}}
        Loading
      {{else}}
        Play
      {{/if}}
    </button>

    <button type="button" {{on 'click' (load-sound this.streamUrl)}}>
      {{#if (sound-is-loaded this.streamUrl)}}
        Loaded
      {{else if (sound-is-loading this.streamUrl)}}
        Loaded
      {{else}}
        Load
      {{/if}}
    </button>
  </demo.example>
  {{demo.snippet "stereo-helpers-stream.hbs"}}
  {{demo.snippet "application-controller.js"}}
</DocsDemo>


<DocsDemo as |demo|>
  <demo.example @name="sound-duration-and-position.hbs">
    <div class="position-display" style="display: grid; grid-template-columns: min-content auto min-content; align-items: center; grid-gap: 10px;">
      <span>
        {{sound-position this.onDemandUrl format='time'}}
      </span>
      <div style="background-color: #DDD; padding: 5px; ">
        <div style="width: {{sound-position this.onDemandUrl format='percent'}}%; background-color: red; height: 5px;"></div>
      </div>
      <span>
        {{sound-duration this.onDemandUrl format='time'}}
      </span>
    </div>
  </demo.example>
  {{demo.snippet "sound-duration-and-position.hbs"}}
  {{demo.snippet "application-controller.js"}}
</DocsDemo>

Currently Playing Sound Display
<DocsDemo as |demo|>
  <demo.example @name="sound-duration-and-position-cs.hbs">
    <div class="position-display" style="display: grid; grid-template-columns: min-content auto min-content; align-items: center; grid-gap: 10px;">
      <span>
        {{sound-position format='time'}}
      </span>
      {{!-- template-lint-disable no-inline-styles --}}
      <div style="background-color: #DDD; padding: 5px; ">
        <div style="width: {{sound-position format='percent'}}%; background-color: red; height: 5px;"></div>
      </div>
      <span>
        {{sound-duration format='time'}}
      </span>
    </div>
  </demo.example>
  {{demo.snippet "sound-duration-and-position-cs.hbs"}}
  {{demo.snippet "application-controller.js"}}
</DocsDemo>

Volume Control
<DocsDemo as |demo|>
  <demo.example @name="stereo-volume.hbs">
    <input type="range" {{stereo-volume initialVolume='100'}} />

  </demo.example>
  {{demo.snippet "stereo-volume.hbs"}}
  {{demo.snippet "application-controller.js"}}
</DocsDemo>






{{!--
<DocsDemo as |demo|>
  <demo.example @name="play-sound-decorator-promise.hbs">
      {{#let (perform this.loadAudioUrl this) as |url|}}
      <button {{stereo-control url}}>
        {{#if (sound-is-playing url)}}
          Pause
        {{else if (sound-is-loading url)}}
          Loading
        {{else}}
          Play
        {{/if}}
      </button>
      {{/let}}
  </demo.example>
  {{demo.snippet "play-sound-decorator-promise.hbs"}}
  {{demo.snippet "play-sound-decorator-promise.js"}}
</DocsDemo> --}}