<h1>Sync Test</h1>
<div class="sync-grid">
  {{#each @model.testSounds as |testSound|}}
    <div class="sync-block">
      <p><a target="_blank" rel="noopener noreferrer" href="{{testSound.url}}">{{testSound.url}}</a></p>
      <p>Each player below is provided a different identifier (a string, an object, and a promise that resolves to a string) that resolves to the same URL. Each player should stay in sync.</p>
      <div class="sounds">
        <SoundDisplay @url={{testSound.url}} @title={{testSound.title}} />
        <SoundDisplay @url={{testSound.urlObject}} @title={{testSound.title}} />
        <SoundDisplay @url={{testSound.urlPromise}} @title={{testSound.title}} />
      </div>

    </div>
  {{/each}}
</div>


