<DocsViewer @media={{this.media}} as |viewer|>
  <viewer.nav @media={{this.media}} @isShowingMenu={{isShowingMenu}} as |nav|>
    {{nav.section "Overview"}}
      {{nav.item "Intro" "docs.index"}}
      {{nav.item "Configuration" "docs.configuration"}}
    {{nav.section "Usage"}}
      {{nav.item "Playing Sounds" "docs.playing-sounds"}}
      {{nav.item "Trying Multiple Formats" "docs.trying-multiple-formats"}}
      {{nav.item "Custom Metadata" "docs.events"}}
      {{nav.item "Error Handling" "docs.events"}}
      {{nav.item "Monitoring Events" "docs.events"}}
      {{nav.item "Dealing with Autoplay" "docs.autoplay"}}
    {{nav.item "Index" "docs.index"}}
  </viewer.nav>

  <viewer.main @media={{this.media}}>
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  </viewer.main>
</DocsViewer>