<DocsHeader as |header|>
  {{#header.link 'diagnostic'}}
    Diagnostic
  {{/header.link}}
</DocsHeader>
<DocsViewer as |viewer|>
  <viewer.nav as |nav|>
    {{nav.section 'Overview'}}
    {{nav.item 'Intro' 'docs.index'}}
    {{nav.item "What's In The Box?" 'docs.overview'}}
    {{nav.item 'Upgrading From Hifi' 'docs.upgrading'}}
    {{nav.section 'Usage'}}
    {{nav.item 'Playing Sounds' 'docs.playing-sounds'}}
    {{nav.item 'Audio Formats' 'docs.audio-format'}}
    {{nav.item 'Error Handling' 'docs.error-handling'}}
    {{nav.item 'Custom Metadata' 'docs.metadata'}}
    {{nav.item 'Monitoring Events' 'docs.event-monitoring'}}
    {{nav.item 'Dealing with Autoplay' 'docs.autoplay'}}
    {{nav.item 'Volume Control' 'docs.volume'}}
    {{nav.item 'Testing' 'docs.testing'}}
  </viewer.nav>

  <viewer.main>
    <div class='docs-container'>
      <div class='docs-section'>
        {{outlet}}
      </div>
    </div>
  </viewer.main>
</DocsViewer>