<ComponentLabel @title='Sound Loader' />
<form
  ...attributes
  {{on
    'submit'
    (prevent-default
      (play-sound
        this.identifier
        useConnections=this.useConnections
        metadata=this.formattedMetadata
      )
    )
  }}
>
  <div>
    <div class='my-2'>
      <label
        for='url-property'
        class='block text-base font-medium text-on-background'
      >URL</label>

      <div class='flex mt-1 rounded-md shadow-sm'>
        <div class='relative flex items-stretch flex-grow focus-within:z-10'>
          <Input
            id='url-property'
            class='block w-full rounded-none rounded-l-md sm:text-sm | border-on-surface-0 focus:ring-accent-0 focus:border-accent-0'
            @type='text'
            @value={{this.url}}
            placeholder='Enter a URL'
          />
        </div>
        <select
          id='preset'
          name='preset'
          class='relative inline-flex items-center w-24 px-4 py-2 -ml-px text-sm font-medium border border-on-surface-0 rounded-r-md text-surface-2 bg-on-surface-3 hover:bg-on-surface-3 focus:outline-none focus:ring-1 focus:ring-accent-0 focus:border-accent-0'
          {{on 'input' this.onPresetChange}}
        >
          <option>Preset</option>
          {{#each this.items as |item|}}
            {{! template-lint-disable no-invalid-interactive }}
            <option {{on 'click' (fn this.onPresetChange item)}}>
              {{item.title}}
            </option>
          {{/each}}
        </select>
      </div>

    </div>

    <div class='my-2'>
      <label
        for='metadata'
        class='block text-base font-medium text-on-surface'
      >Metadata</label>
      <Textarea
        id='metadata'
        class='block w-full h-10 pr-12 rounded-md border-on-surface-0 focus:ring-accent-0 focus:border-accent-0 sm:text-sm'
        placeholder=''
        @value={{this.metadata}}
        {{on 'change' this.updateMetadata}}
      />
    </div>

    <div class='my-2'>
      <label
        class='block my-2 text-base font-medium text-on-surface'
        for='strategy'
      >Connections</label>

      {{#let (sound-is-loaded this.url) as |loaded|}}
        <div class='flex flex-row gap-2 px-1 my-1 {{if loaded "opacity-50"}}'>
          <label>
            <input
              class='border-on-surface-0 text-accent-0 focus:ring-accent-0'
              type='radio'
              name='strategy'
              disabled={{loaded}}
              value='default'
              checked={{eq this.connectionStrategy 'default'}}
              {{on 'change' this.setConnectionStrategy}}
            />
            Automatic
          </label>

          <label>
            <input
              class='border-on-surface-0 text-accent-0 focus:ring-accent-0'
              type='radio'
              name='strategy'
              disabled={{loaded}}
              value='choose'
              checked={{eq this.connectionStrategy 'choose'}}
              {{on 'change' this.setConnectionStrategy}}
            />
            Choose
          </label>
        </div>
      {{/let}}
      {{#if
        (or (eq this.connectionStrategy 'default') (sound-is-loaded this.url))
      }}
        <StrategyBreakdown class='grid' @url={{this.url}} as |data|>
          <li
            class='inline
              {{if (eq data.info.status "failure") "text-danger"}}
              {{if (eq data.info.status "success") "text-success"}}'
          >
            <span class='text-sm'>
              {{svg-jar
                (concat 'connection-' data.info.status)
                class='inline w-4 h-4'
              }}
              {{data.item.name}}
            </span>
            <span class='text-sm opacity-70'>{{data.info.message}}</span>
          </li>
        </StrategyBreakdown>
      {{else}}
        <StrategyBreakdown
          class='grid grid-cols-3 gap-2'
          @url={{this.url}}
          @selectedConnections={{this.selectedConnections}}
          @onUpdateConnections={{this.updateSelectedStrategies}}
          @allowSelection={{not (eq this.connectionStrategy 'default')}}
        />
      {{/if}}
    </div>

    <div class='flex items-center gap-2'>
      <button
        {{on
          'click'
          (load-sound
            this.url
            useConnections=this.useConnections
            metadata=this.formattedMetadata
          )
        }}
        class='inline-flex items-center px-3 py-2 border rounded-md shadow-sm disabled:opacity-50 disabled:pointer-events-none text-on-accent-0 bg-accent-0 hover:bg-accent-0-hover focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-0'
        type='button'
        disabled={{or (sound-is-loaded this.url) (not this.url)}}
      >
        {{#if (sound-is-loading this.url)}}
          {{svg-jar
            'loading-outline'
            width=20
            height=25
            title='Loading'
            class='w-5 h-5 mr-3 -ml-1 animate-spin'
          }}
          Loading…
        {{else if (sound-is-loaded this.url)}}
          {{svg-jar
            'load'
            width=20
            height=25
            title='Load'
            class='w-5 h-5 mr-3 -ml-1'
          }}Loaded
        {{else}}
          {{svg-jar
            'load'
            width=20
            height=25
            title='Load'
            class='w-5 h-5 mr-3 -ml-1'
          }}Load
        {{/if}}
      </button>

      <button
        {{on
          'click'
          (toggle-play-sound
            this.url
            useConnections=this.useConnections
            metadata=this.formattedMetadata
          )
        }}
        class='inline-flex items-center px-3 py-2 border rounded-md shadow-sm disabled:opacity-50 disabled:pointer-events-none text-on-accent-0 bg-accent-0 hover:bg-accent-0-hover focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-0'
        type='button'
        disabled={{not this.url}}
      >
        {{#if (sound-is-playing this.url)}}
          {{svg-jar
            'pause-outline'
            class='w-5 h-5 mr-3 -ml-1'
            width=20
            height=25
            title='Pause'
          }}
          Pause
        {{else if (sound-is-loaded this.url)}}
          {{svg-jar
            'resume-outline'
            class='w-5 h-5 mr-3 -ml-1'
            width=20
            height=25
            title='Pause'
          }}
          Resume
        {{else if (sound-is-loading this.url)}}
          {{svg-jar
            'loading-outline'
            width=20
            height=25
            title='Loading'
            class='w-5 h-5 mr-3 -ml-1 animate-spin'
          }}
          Loading
        {{else}}
          {{svg-jar
            'play-outline'
            width=20
            height=25
            class='w-5 h-5 mr-3 -ml-1'
            title='Play'
          }}
          Play
        {{/if}}

      </button>

      {{#if (sound-is-errored this.url)}}
        <div class='flex gap-1 p-3 text-danger'>
          <span>{{sound-error-details this.url}}</span>
        </div>
      {{/if}}

    </div>
  </div>
</form>