<button
  class='play-sound-button'
  type='button'
  {{on 'click' (toggle-play-sound @url metadata=@metadata)}}
>
  <div class='play-sound-button-bg'></div>
  {{#if (sound-is-errored @url)}}
    {{svg-jar 'bomb-outline' class='stereo-icon' height='48' width='48'}}
  {{else if (sound-is-playing @url)}}
    {{svg-jar 'pause-outline' class='stereo-icon' height='48' width='48'}}
    {{!-- {{else if (sound-is-playing-elsewhere @url)}}
        {{svg-jar "pause-outline" class="stereo-icon" height="48" width="48"}}
 --}}
  {{else if (sound-is-loading @url)}}
    {{svg-jar
      'loading-outline'
      class='stereo-icon animate-spin'
      height='48'
      width='48'
    }}
  {{else}}
    {{svg-jar 'play-outline' class='stereo-icon' height='48' width='48'}}
  {{/if}}
</button>