<ComponentLabel @title='Stereo Service' />

<div
  class='flex flex-col p-2 mb-12 border rounded-md text-on-surface-0 bg-surface-2 border-surface-0'
  ...attributes
>
  <div class='md:flex'>
    <div
      class='flex flex-col justify-end flex-grow h-40 p-2 text-center align-middle border rounded-md shadow-inner md:h-auto bg-surface-1 border-surface-3'
    >
      <div class='flex flex-col justify-around gap-2 mb-4'>
        <p class='font-lg'>
          {{sound-metadata (current-sound) key='title'}}
        </p>
        <p class='text-xs break-all text-on-surface'>
          {{get (current-sound) 'url'}}
        </p>
      </div>
      <SoundDisplay::Position @url={{current-sound}} @class='flex flex-col' />
    </div>

    <div class='flex flex-col p-2'>
      <SoundDisplay::Controls @url={{current-sound}} />

      <div class='service-display-volume'>
        <SoundDisplay::Volume />
        <Input class='bg-surface-1' @type='range' {{stereo-volume}} />
        {{!template-lint-disable require-input-label}}
      </div>

    </div>
  </div>

  <DebugDetails @show={{this.showDebugInfo}} class='mt-4' as |d|>
    <d.Section @title='Events'>
      <:default>
        <EventDisplay />
      </:default>
    </d.Section>

  </DebugDetails>
  <button
    type='button'
    class='flex items-center justify-center w-full p-2 text-center text-accent-0 hover:text-accent-0-hover'
    {{on 'click' (toggle 'showDebugInfo' this)}}
  >
    {{#if this.showDebugInfo}}
      <span class='sr-only'>Hide Debug</span>
      {{svg-jar 'angle-up' class='w-4 h-4'}}
    {{else}}
      <span class='sr-only'>Show Debug</span>
      {{svg-jar 'angle-down' class='w-4 h-4'}}
    {{/if}}
  </button>
</div>