<div
  class='p-2 border rounded-md text-on-surface-0 bg-surface-1 border-surface-3'
  data-connection-name='{{this.loadedSound.connectionName}}'
  ...attributes
>
  <div class='flex justify-between mb-3'>
    <span class='text-xs'>
      {{#let this.loadedSound as |sound|}}
        {{#if sound}}
          {{#if sound.connectionName}}
            {{sound.connectionName}}
            Sound
          {{/if}}
          {{#if sound.mimeType}}
            ({{sound.mimeType}})
          {{/if}}
        {{else}}
          Not Loaded
        {{/if}}
      {{/let}}
    </span>
    <button type='button' class='w-4 h-4' {{on 'click' this.removeSound}}>
      {{svg-jar
        'close'
        class='w-4 h-4 text-on-surface-2 opacity-30 hover:opacity-100'
      }}
    </button>
  </div>

  <span
    class='{{unless this.isCurrentSound 'opacity-0'}}
      flex justify-center p-1 -ml-2 -mr-2 my-2 text-xs font-bold text-center text-on-surface-0 uppercase transform bg-accent-0'
  >Current Sound</span>

  <div class='flex flex-col mb-4'>
    <div class='text-center'>
      {{or @title (sound-metadata this.url key='title')}}
    </div>
    <div class='text-sm text-center break-all opacity-50'>
      {{this.url}}
    </div>
  </div>

  <SoundDisplay::Position @url={{this.url}} />
  <SoundDisplay::Controls @url={{this.url}} />

  <DebugDetails @show={{this.showDebugInfo}} as |d|>
    {{#let (find-loaded-sound this.url) as |sound|}}
      <d.Section
        @title={{if
          this.usingSingleAudioElement
          'Shared Audio Element'
          'Audio Element'
        }}
      >
        <:button>
          <button
            type='button'
            class='text-xs underline uppercase'
            {{on 'click' (fn this.inspectSound (find-loaded-sound this.url))}}
          >
            Inspect
          </button>
        </:button>
        <:default>
          <div
            class='p-2 text-xs border rounded-md bg-surface-3
              {{if
                this.hasControlOfAudioElement
                'border-accent-1'
                'border-surface-0'
              }}'
          >
            {{sound.audioElement.outerHTML}}
          </div>
          {{#if this.usingSingleAudioElement}}
            {{#if this.hasControlOfAudioElement}}
              <p class='text-xs'>This sound has control of the element right now</p>
            {{else}}
              <p class='text-xs'>This sound is not in control of the element now</p>
            {{/if}}

          {{/if}}
        </:default>
      </d.Section>
    {{/let}}

    <d.Section @title='Connections'>
      <StrategyBreakdown
        @url={{this.url}}
        class='flex flex-col gap-1 justify-items-stretch'
        as |data|
      >
        <li
          class='inline
            {{if (eq data.info.status 'failure') ' text-danger '}}
            {{if (eq data.info.status 'success') ' text-success '}}
            '
        >
          <span class='text-sm'>
            {{svg-jar
              (concat 'connection-' data.info.status)
              class='inline w-4 h-4'
            }}
            {{data.item.name}}
          </span>
          <span class='text-sm opacity-70'>{{data.info.message}}</span>
        </li>

      </StrategyBreakdown>
    </d.Section>

    <d.Section @title='Properties'>
      <SoundProperties @url={{this.url}} />
    </d.Section>

    <d.Section @title='Events'>
      <EventDisplay @url={{this.url}} />
    </d.Section>
  </DebugDetails>

  <button
    type='button'
    class='flex items-center justify-center w-full p-1 text-center text-accent-0 hover:text-accent-0-hover'
    {{on 'click' (toggle 'showDebugInfo' this)}}
  >
    {{#if this.showDebugInfo}}
      <span class='sr-only'>Hide Debug</span>
      {{svg-jar 'angle-up' class='w-4 h-4'}}
    {{else}}
      <span class='sr-only'></span>
      {{svg-jar 'angle-down' class='w-4 h-4'}}
    {{/if}}
  </button>

  {{yield}}

</div>