
<DocsDemo as |demo|>
  <demo.example @name="autoplay-gotchas.hbs">
    <p>You can silence the thrown errors and handle them inline</p>
    <div>
      {{#let "https://streaming.koop.org/stream.aac" as |url|}}
        <button {{on 'click' (fn this.togglePlaySound url)}} type="button"
          class="ui-button">
          {{#if (sound-is-blocked url)}}
            Autoplay Blocked!
          {{else if (sound-is-playing url)}}
            Pause
          {{else}}
            Play Sound
          {{/if}}
        </button>
      {{/let}}
    </div>

    {{#if this.error}}
      <div style="color: red;">{{this.error}}</div>
    {{/if}}
  </demo.example>

  {{demo.snippet "autoplay-gotchas.js"}}
  {{demo.snippet "autoplay-gotchas.hbs"}}
</DocsDemo>